*{
	padding: 0;
	margin: 0;
}
h1 {
	text-align: center;
	background-color: red;
	color: white;
	padding: 20px;
}
nav  {
	background-color:#1cffca;
	width: 100%;
	list-style-type: none;
	text-align: center;
}
nav li {
	display: inline-flex;

}
nav a {
	text-decoration: none;
	color: black;
	padding: 10px;
	width: 150px;
	text-align: center;
}


nav li:hover {
	background-color: #02d1a1;
}

img {
	width: 400px;
	height: 300px;
	object-fit: coverjk;

}


.contenido {
	display: flex;
	margin: 60px;
}
.secciones {
	display: flex;
	align-items: center;
	padding: 20px;
}